[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"beautifulsoup4" = "==4.6.0"
bottle = "==0.12.20"
certifi = "==2022.12.7"
chardet = "==3.0.4"
"html5lib" = "==0.999999999"
idna = "==2.6"
oauthlib = "==2.0.6"
requests = "==2.20.0"
requests-oauthlib = "==0.8.0"
tweepy = "==3.5.0"
"urllib3" = "==1.22"
webencodings = "==0.5.1"


[dev-packages]



[requires]

python_version = "3.6"
